<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Form</title>
</head>
<body>
    <h1>Lengkapi data diri anda</h1>

    <form action="/register/<%= username %>" method="post">
        FullName <br>
        <input type="text" name="fullName" id=""> <br>
        Gender <br>
        <select name="gender" id="">
            <option selected disabled>--Select One--</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>
        Birth Date <br>
        <input type="date" name="birthDate" id=""><br>
        Bio <br>
        <textarea name="bio" id="" cols="30" rows="20"></textarea><br>
        Profile Image <br>
        <input type="text" name="profileImage" id=""><br><br>

        <input type="submit" value="Save Profile">
    </form>
</body>
</html>