<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register Form</h1>
    <form action="/register" method="post">
        Username <br>
        <input type="text" name="username" id=""><br>
        Email <br>
        <input type="text" name="email" id=""><br>
        Password <br>
        <input type="password" name="password" id=""><br>
        Phone <br>
        <input type="text" name="phone" id=""><br>
        <input type="submit" value="Register">
    </form>
    <% if (errors) { %>
        <% errors = errors.split(',') %>
        <% errors.forEach(el => { %>
          <p style="color:red ;"><%= el %> </p>
        <% }) %>
      <% } %>
</body>
</html>